.footer {
    background-color: black;
    color: white;
}

.footer-inside {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-title {
    flex: 0 1 25%;
}

.footer-links {
    flex: 0 1 45%;
}

.footer-social-media {
    flex: 0 1 25%;
}

.footer-inside > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.footer-links > * a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.left-side,
.right-side {
    flex: 0 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side ul,
.right-side ul {
    list-style-type: none;
}

.left-side ul li,
.right-side ul li {
    margin: 0.5em 0em;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
}

.footer-social-media ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.footer-social-media ul li {
    padding: 0 0.5em;
}

.footer-social-media ul li a {
    color: white;
}