html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* body {
    padding: 1em;
    border: 2px solid red;
}

.container {
    border: 2px solid green;
} */