html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 238, 238);
}

.cards-layout {
    margin: 2em auto;
    max-width: 40em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.1);
    border: solid 2px #ccc;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
}

.card section,
.card footer {
    padding: 1em 1.2em;
}

.card section {
    flex: 1 0 auto;
}

.card footer {
    border-top: solid 2px #CCC;
}