html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
    font-weight: normal;
}

article {
    padding: 2em;
    max-width: 20ch;
}

section {
    display: flex;
    max-width: 70vw;
}