.welcome-section {
  padding: 1em 2em 4em 2em;
}

.welcome-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.welcome-inside h2 {
  border-bottom: 0.2em solid red;
  padding-bottom: 0.5em;
}

.welcome-articles {
  display: flex;
  justify-content: space-evenly;
}

.welcome-articles article {
  flex: 0 1 30%;
  text-align: center;
}

.welcome-articles article > * {
  padding: 0.5em 0;
}

.welcome-article-image {
  display: flex;
  justify-content: center;
}

.welcome-article-image img {
  width: 25%;
  height: auto;
  display: block;
}
