html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 50vw;
    width: 100vw;
    max-width: 100vw;
    
    min-height: 50vh;
    height: 100vh;
    max-height: 100vh;
    
    border: solid 2px red;
}

div {
    padding-top: .5em;
    padding-left: .5em;
    padding-bottom: 2em;
    padding-right: 1.5em;
    flex-basis: 100%;
    max-width: 40vw;
    border-radius: .5em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h1 {
    font-size: 1.5em;
    padding-bottom: .2em;
}

p {
    font-family: sans-serif;
}
